header{
	background-color: lightseagreen;
	height: 40px;
	text-align: center;
	font-family: Century Gothic;
}
body{
	background-color: whitesmoke;
}

#div_1, #div_2, #div_3, #div_4, #div_5, #div_6, #div_7, #div_8, #div_9 {
	position: relative;
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 2px solid black;
}

#container{
	width: 700px;
}
