header{
	background-color:  #00fbff;
	height: 40px;
	text-align: center;
	font-family: Century Gothic;
	color: #232323;	
}
body{
	background-color:  #232323;
}

#div_1, #div_2, #div_3, #div_4, #div_5, #div_6, #div_7, #div_8, #div_9 {
	position: relative;
	top: 50%;
	transform: translateY(40%);
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
	border: 2px solid black;
	background-color: #303030;
}

#container{
	margin: auto;
	width: 700px;
	vertical-align: center;
}

#startButton{
	position: relative;
	left: -380px;
	top: 760px;
}